
{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="row no-gutters g-color-white">
    <div class="col-md-6 col-lg-3 g-bg-black-opacity-0_9 g-py-20">
      <div class="d-flex g-flex-centered">

        <div class="u-icon-v3 u-icon-size--xs g-font-size-default g-bg-gray-dark-v2 g-color-white-opacity-0_8 g-mr-15">
          <i class="icon-speech"></i>
        </div>
        <div class="align-self-center g-font-weight-600 g-font-size-12">

          <a class="g-color-white g-color-white--hover">

            <strong>адрес почты школы</strong></a>

        </div>

      </div>
    </div>
    <div class="col-md-6 col-lg-3 g-bg-black g-py-20">
      <div class="d-flex g-flex-centered">

        <div class="u-icon-v3 u-icon-size--xs g-font-size-default g-bg-gray-dark-v2 g-color-white-opacity-0_8 g-mr-15">
          <i class="icon-speech"></i>
        </div>
        <div class="align-self-center g-font-weight-600 g-font-size-12">

          <a class="g-color-white g-color-white--hover">

            <strong>адрес почты школы</strong></a>

        </div>

      </div>
    </div>
    <div class="col-md-6 col-lg-3 g-bg-black-opacity-0_9 g-py-20">
      <div class="d-flex g-flex-centered">

        <div class="u-icon-v3 u-icon-size--xs g-font-size-default g-bg-gray-dark-v2 g-color-white-opacity-0_8 g-mr-15">
          <i class="icon-speech"></i>
        </div>
        <div class="align-self-center g-font-weight-600 g-font-size-12">

          <a class="g-color-white g-color-white--hover">

            <strong>адрес почты школы</strong></a>

        </div>

      </div>
    </div>
    <div class="col-md-6 col-lg-3 g-bg-black g-py-20">
      <div class="d-flex g-flex-centered">

        <div class="u-icon-v3 u-icon-size--xs g-font-size-default g-bg-gray-dark-v2 g-color-white-opacity-0_8 g-mr-15">
          <i class="icon-speech"></i>
        </div>
        <div class="align-self-center g-font-weight-600 g-font-size-12">

          <a class="g-color-white g-color-white--hover">

            <strong>адрес почты школы</strong></a>

        </div>

      </div>
    </div>
  </div>
  <!-- End Contact Info -->
{% endblock %}
